@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    scroll-behavior: smooth;
}

nav{
    z-index: 999;
}

.hero{
    height: 90vh;
    padding-bottom: 2rem;
}

.about{
    background-image: url(../src/Assets/Blobs/blob\ \(1\).svg);
    background-repeat: no-repeat;
    background-position: -20%;
}

.products{
    background-image: url('../src/Assets/Blobs/blob\ \(1\).svg');
    background-repeat: no-repeat;
    background-position: 100%;
}

.footer{
    margin: 10rem auto 5rem;
}